:root {
  color-scheme: light dark;

  --main-bg-light: #fff;
  --main-bg-dark: #1a202c;

  --main-text-light: black;
  --main-text-dark: hsl(120, 20%, 80%);

  --main-bg-color: light-dark(var(--main-bg-light), var(--main-bg-dark));
  --main-text-color: light-dark(var(--main-text-light), var(--main-text-dark));
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

main > form {
  width: clamp(500px, 50vw, 600px);
  padding: 2rem;

  border-radius: 0.25rem;
  border: 1px solid light-dark(#333, #ccc);

  box-shadow: black 10px 10px 10px;

  fieldset {
    padding-block: 1rem;

    border-color: light-dark(#333, #ccc);
    border-radius: 0.25rem;
  }
}

input[type='submit'] {
  background-color: royalblue;
  color: #ccc;
}
