:root {
  color-scheme: light dark;

  --main-bg-light: #fff;
  --main-bg-dark: #1a202c;

  --main-text-light: black;
  --main-text-dark: hsl(120, 20%, 80%);

  --main-bg-color: light-dark(var(--main-bg-light), var(--main-bg-dark));
  --main-text-color: light-dark(var(--main-text-light), var(--main-text-dark));
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

main > form {
  width: clamp(500px, 50vw, 600px);
  padding: 2rem;

  border-radius: 0.25rem;
  border: 1px solid light-dark(#333, #ccc);

  box-shadow: black 10px 10px 10px;

  fieldset {
    padding-block: 1rem;

    border-color: light-dark(#333, #ccc);
    border-radius: 0.25rem;
  }
}

label {
  margin-block: 1rem 0.25rem;

  &:first-of-type {
    -webkit-margin-before: 0;
    margin-block-start: 0;
  }
}

input {
  direction: ltr;
  position: relative;
  border-radius: 4px;
  border: 1px solid light-dark(#333, #ccc);

  text-align: center;
}

input:user-invalid,
input.unequal {
  border-color: light-dark(maroon, salmon);
  background-color: light-dark(hsl(from salmon h s 80%), hsl(from salmon h s 20%));
}

input:user-valid,
input.equal {
  border-color: light-dark(#008080, green);
  background-color: light-dark(hsl(from green h s 80%), hsl(from green h s 20%));
}

:is(
    label:has(+ input[required]:not([type='radio'])),
    legend:has(+ input[type='radio'][required])
  )::after {
  content: '*';

  -webkit-margin-start: 0.25rem;

  margin-inline-start: 0.25rem;
  color: red;
}

input[type='submit'] {
  background-color: royalblue;
  color: #ccc;

  font-weight: 700;
  font-size: 1.25rem;

  height: 100%;
}
